<h1> Update your Account record</h1>
<%= simple_form_for @accounts, method: :patch do |f| %>
<%= f.input :title %>
<%= f.input :date %>
<%= f.input :amount %>
<%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>